<center><h2>Rating Statistics For Selected Recipe </h2></center>
<br>

<%= render partial: 'comment_statistic0', locals:{obj0: @comment_rating1, rnum0: "1"}%>
<%= render partial: 'comment_statistic0', locals:{obj0: @comment_rating2, rnum0: "2"}%>
<%= render partial: 'comment_statistic0', locals:{obj0: @comment_rating3, rnum0: "3"}%>
<%= render partial: 'comment_statistic0', locals:{obj0: @comment_rating4, rnum0: "4"}%>
<%= render partial: 'comment_statistic0', locals:{obj0: @comment_rating5, rnum0: "5"}%>
