<div class="container" style="width:40%;">

  <h4>Recipe Form</h4>

  <%= render partial: 'layouts/errors', locals:{obj: @recipe}%>

  <%= form_for  @recipe, html: { multipart: true } do |f| %>
  
    <div class="field">
      <h4><%= f.label :title %> </h4>
      <%= f.text_field :title, cols: 20, :class => "form-control"%>
    </div>

    <div class="field">
      <h4><%= f.label :description %> </h4>
      <%= f.text_area :description, cols: 20, rows: 2, :class => "form-control"%>
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>

    <div>
      <h4><%= f.label :ingredient %> </h4>
        <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
        <%= f.fields_for :ingredients do |ingredient|  %>
          <%= render   'ingredient_fields', f: ingredient %>
        <% end %>
    </div>

    <div class="links">
      <%= link_to_add_association 'Click To Add ingredients', f, :ingredients, class: "btn btn-link" %>
    </div>

    <div class="field">
      <h4><%= f.label :steps %> </h4>
      <%= f.fields_for :steps do |step|  %>
        <%= render   'step_fields',  f: step %>
      <% end %>
    </div>

    <div class="links">
      <%= link_to_add_association 'Click To Add steps', f, :steps, class: "btn btn-link" %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit Recipe', :class => 'btn btn-primary', data: { disable_with: false } %>
    </div>

  <% end %>

</div>

<div id=recipeResult>
    <h1 id="title"></h1>
    <p id="description"></p>
    <p id="recipeIngredients"></p>
</div>


  <script type="text/javascript" charset="utf-8">
    $(function (){
      $('form').submit(function (event){
        event.preventDefault();
        alert("abc")
        var values = $(this).serialize();
        var new_recipe = $.post('/recipes', values)
        new_recipe.done(function(data) {
          $('#title').text(data["title"]);
          $('#description').text(data["description"]);
                     });

      });
    });
  </script>
