<% title @recipe.title %>

  <div class="row">
  <div class="column" style="background-color:#f9f9f9;">
    <h4> Hi <%=current_user.name%> you are viewing " <%= @recipe.title  %> " recipe, which was <%= last_updated @recipe %> <br> </h4>
      Description:
       <%= @recipe.description %>
       <br>
       <br>
       <h4> To view comment rating of this recipe click on the link below <h4>
         <a href="/comments/comment_statistics/<%=@recipe.id%>"> Comments by Rating</a> <br><br>
      <%if @recipe.user_id == @current_user.id%>
        <%= link_to  "Edit", edit_recipe_path(@recipe),class: "btn btn-primary"  %>
        <%= link_to  "Delete", recipe_path(@recipe), :method => :delete, data: {confirm: "Are you sure?" }, class: "btn btn-primary"  %>
        <%= link_to  "Comment", new_recipe_comment_path(@recipe.id), class: "btn btn-primary"  %>

      <%else%>
        <%= link_to  "Comment", new_recipe_comment_path(@recipe.id), class: "btn btn-primary"  %>
      <%end%>
      <%= link_to  "Top 5 Comments", recipe_comments_path(@recipe.id), class: "btn btn-primary"  %>


    </div>

    <div class="column" style="background-color:#f5f5f5">

    Ingredients:
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
      <li> <%= ingredient.name %> </li>
      <%end%>
    </ul>
  </div>

  <div class="column" style="background-color:#f2f2f2;">
     Steps:
    <ol>
      <% @recipe.steps.each do |s| %>
      <li> <%= s.step %> </li>
      <%end%>
    </ol>

</div>

<pre>
</pre>

  <div class="col=md-8 col-md-offset-1">
      <% @comments = Comment.all %>
    <% @comments.each do |comment|  %>
      <%if comment.recipe_id  == @recipe.id  %>
          Comment By:
          <%= comment.user.name %>  - <%=  comment.content%> <br>
       <%if comment.user_id == @current_user.id%>
           <%= link_to  "Edit Comment", edit_recipe_comment_path(@recipe.id, comment.id),class: "btn btn-link"  %>
           <%= link_to  "Delete Comment", recipe_comment_path(@recipe.id, comment.id), :method => :delete, data: {confirm: "Are you sure?" },class: "btn btn-link"  %>
           <br>

          <%end%>
     <%end%>
   <%end%>

<br>
</div>
